extend ../layout/common.pug

block content
  h1 Create new User
  if error
    .alert.alert-danger= error
  .mt-5
  form.w-50(action="/users/create", method="post", enctype="multipart/form-data" )
    .form-group
      label(for="name") Name
      input.form-control(type ="text", name = "name", id ="name" value=values.name)

    .form-group
      label(for="phone") Phone
      input.form-control(type ="number", name = "phone", id ="phone" value=values.phone )

      .form-group
      label(for="avatar") Avatar
      input.form-control-file(type="file" name = "avatar", id ="avatar")

    button.btn.btn-primary(type="submit") Add